.link {
  display: flex;
  align-items: end;
  white-space: nowrap;
}

.dots {
  flex-grow: 1;
  height: 2px;
  background: repeating-linear-gradient(
    to right,
    #999,
    #999 2px,
    transparent 2px,
    transparent 8px
  );
  margin: 0 8px;
}
